*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/build/
/docs/Manifest.toml
/test/Manifest.toml
/docs/src/literate/*/*.md
/docs/src/generated
/sampleData/
/sampleData.tar.gz
/Data/
/tmp/
.vscode
.CondaPkg
